h1{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

#container{
    display:flex;
    width:960px;
    height: 960px;
    flex-direction: column;
}

#buttonNewSketch{
    margin:25px;
    padding:10px;
}

.row{
    display:flex;
    flex-grow: 1;
}

.square{
    flex-grow: 1;
    border: solid;
    border-width: 1px;
    border-color: #ddd;
}

.hover{
    background-color: black;
}